<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GBC Restaurant - Driver</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- HEADER -->
    {{{body}}}

    <!-- LOGIN -->
    <main>
        <div class="container" style="border: 1px solid #fff;">
          <div class="line-info-container bg-dark title-simple">
            <div>Full Name: <strong>{{fullname}}</strong></div>
            <div>License Plate: <strong>{{license_plate}}</strong></div>
            <div>Phone: <strong>{{phone}}</strong></div>
            <div>Username: <strong>{{username}}</strong></div>

            <button id="btn-log-out" class="bg-blue" type="submit">LOG OUT</button>
          </div>
        </div>
    </main>
  </body>
</html>