<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GBC Restaurant - Driver</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- HEADER -->
    {{{body}}}

    <!-- DRIVER INFORMATION -->
    <div class="container">
      <div class="line-info-container-title bg-dark title-l text-center">Driver Information</div>
      <div class="line-info-container bg-dark title-simple">
        <div>Full Name: <strong>{{fullname}}</strong></div>
        <div>License Plate: <strong>{{license_plate}}</strong></div>
        <div>Phone: <strong>{{phone}}</strong></div>
        <div>Username: <strong>{{username}}</strong></div>

        <form id="form-driver-info" action="/logout" method="get" >
          <button id="btn-log-out" class="bg-blue" type="submit">LOG OUT</button>
        </form>
      </div>
    </div>

    <!-- ORDERS -->
    <div class="container">
      {{#if message}}
        <div class="alert-message describe text-center">{{{message}}}</div>
      {{else}}
          <div class="bg-dark title-simple">

          </div>
      {{/if}}
    </div>
  </body>
</html>