<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GBC Restaurant - Driver</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- HEADER -->
    {{{body}}}

    <!-- DRIVER INFORMATION -->
    <div class="container ">
      <div class="line-info-container-title bg-dark title-l text-center">Driver Information</div>
      <div class="info-container bg-dark title-simple">
        <div class="info-container-item">Full Name: <strong>{{fullname}}</strong></div>
        <div class="info-container-item">License Plate: <strong>{{license_plate}}</strong></div>
        <div class="info-container-item">Phone: <strong>{{phone}}</strong></div>
        <div class="info-container-item">Username: <strong>{{username}}</strong></div>
        <div class="info-container-item">Vehicle Model: <strong>{{vehicle_model}}</strong></div>
        <div class="info-container-item">Vehicle Color: <strong>{{vehicle_color}}</strong></div>

        <div class="info-container-footer">
          <form action="/delivery-fulfillment" method="get" >
            <button class="btn-task bg-blue" type="submit">Drive Orders</button>
          </form>
          <form action="/logout" method="get" >
            <button class="btn-task bg-blue" type="submit">LOG OUT</button>
          </form>
        </div>
      </div>
    </div>
    
    <hr />

    <!-- ORDERS -->
    <div class="container">
      <div class="line-info-container-title bg-dark title-l text-center">Available Orders</div>
      <div class="line-info-container bg-dark title-simple">
        <table>
            <tr class="title-simple">
              <th class="text-center">Order Number</th>
              <th class="text-center">Food</th>
              <th class="text-center">Order Date</th>
              <th class="text-center">Order Status</th>
              <th class="text-center">Assign To Me</th>
            </tr>
          {{#if availableOrdersMessage}}
            <div class="alert-message describe text-center">{{{availableOrdersMessage}}}</div>
          {{else}}
            {{#each orders}}
              <tr class="tr-order-info describe">
                <td class="table-text text-center">{{this.order_number}}</td>
                <td class="table-text">{{this.menu_item}}</td>
                <td class="table-text text-center">{{this.order_date}}</td>
                <td class="table-text text-center">{{this.order_status}}</td>
                <td class="text-center">
                  <form class="form-task" action="/assign-driver-to-order/{{this.order_number}}" method="post" >
                    <button class="btn-task table-button bg-blue" type="submit">ASSIGN</button>
                  </form>
                </td>
                {{!-- <td class="table-text text-center">
                  <form class="form-task" action="/" method="get" >
                    <button class="btn-task table-button bg-blue" type="submit">UPDATE</button>
                  </form>
                </td>
                <td class="text-center">
                  <form class="form-task" action="/" method="get" >
                    <button class="btn-task table-button bg-blue" type="submit">UPDATE</button>
                  </form>
                </td> --}}
              </tr>
            {{/each}}
          {{/if}}
        </table>
      </div>
    </div>
  </body>
</html>